.form_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid  #aaaa;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 9px #aaaa;
    text-align: start;
   min-height: 220px;
   
}
.inputs_wrapper{
    display: flex;
    flex-direction: row;
    gap:7px;
}
.job-description_input{
    height: 100px;
}